@charset "UTF-8";
/* Add your custom CSS declarations below  */



.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #E9967A !important;
}

a {
    color: #E9967A;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #A9A9A9;
    text-decoration: underline;
}

h1 {
  font: bold 3.0em Roboto, sans-serif;
  height: 65px;
  color: #E9967A;
}

p {
    font:Roboto, sans-serif;
    color: #A9A9A9;
}


div.b {
	color: #E9967A;
	font-size: 400%;
	font-weight: bold;
}

div.c {
	color: #000000;
}

div.carousel-inner {
    align-items: center;
}

div.contact {
    font: 3.0em Roboto, sans-serif;
}

div.lead {
    font: bold 3.0em Roboto, sans-serif;
    color: black;
}

h1.display-4 {
    font: bold 1.0em Roboto, sans-serif;
}

p.lead {
    font: Roboto, sans-serif;
    color: black;
}
